<div class="menu">
  <a href="/" class="logo">HabitToHelp</a>
  <div class="rightTopMenu">
    <div class="dashboardMenu Left">   
      <div>
        <div class="username">
          <a href="/profile"><%= username %></a>
        </div>
        <div class="levelContainer">
          <p>Level <span>X</span></p>
        </div>
        <div class="XPContainer">
          <progress id="progressBar" value="0" max="100">32%</progress>
          <p>XP</p>
        </div>
      </div>     
    </div>     
    <div class="dashboardMenu Right">
        <a id="profileInformations" href="/profile">
            <img src="/images/profileImg.png" alt="profileImg" />
        </a>
    </div>  
    <a href="/signOut" id="signOut">Sign out</a>      
  </div>
</div>
