<div>
    <div class="username">
        <p>Username</p>
    </div>
    <div class="levelContainer">
        <p>Level <span>X</span></p> 
    </div>
    <div class="XPContainer">
        <progress id="progressBar" value="0" max="100"> 32% </progress>
        <p>XP</p> 
    </div> 
</div>  