<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitToHelp</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!--Google font added-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet"></head>        
</head>
<body id="dashboard">
  <div class='wrapper'>    
    <div class="menu">
      <a href="/" class="logo">HabitToHelp</a>
      <div class="rightTopMenu">
        <div class="dashboardMenu Left">
            <div class="username">
                <p>Username</p>
            </div>
            <div class="levelContainer">
                <p>Level <span>X</span></p> 
            </div>
            <div class="XPContainer">
                <progress id="progressBar" value="32" max="100"> 32% </progress>
                <p>XP</p> 
            </div>    
        </div>     
        <div class="dashboardMenu Right">
            <a id="profileInformations" href="#">
                <img src="/images/profileImg.png" alt="profileImg"></img>
            </a>
        </div>        
      </div>
    </div>
    <div class='container'>    
        <h1>Dashboard</h1>

       
          <h2> Habits </h2>
          <ul>
            <% habit_list.habit.forEach(function(habit){ %>
              <li><%= habit.name %></li>
            <% }); %>
          </ul>

          <!--html form til oprettelse ad habit + action-->

    </div>
  </div>   
</div>      
<%- include("globalElements/footer") %>
</body>
</html>