<% if(typeof errors != 'undefined'){ %> 
    <% errors.forEach(function(error) { %>
        <div class="errorMessage" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      
    <% }); %>
<% } %>