html, body {
  height: 100%; 
  margin: 0;
  background: #0C8BCE;
}

h1, h2, h3, h4, h5, a.logo {
  font-family: 'Oswald', sans-serif;
  color: #000000;
}
p{
  
}

.wrapper{
  height: 100%;
  position: relative;
  padding: 30px;
  padding-top: 10px;
  min-height: 100%;
  margin-bottom: -50px; /*Sticky footer*/
} 

footer{
  color: #ffffff;
}

/*Top menu*/
.menu{
  margin-bottom: 20px;;
}

/*logo left*/
a.logo{
  text-decoration: none;
  font-size: 40px;
}

.rightTopMenu{
  padding-top: 10px;
  float: right;
}
/* right topmenubar button and span*/
span{
  font-size: 15px;
}

button{
  background: #000000;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 19px;
}

/* Welcomepage */

.container {
  margin: 0;
  padding: 0;
  text-align: justify;
  height: 100%;
}

/*Site sections left/right*/
.main {
  display: inline-block;
  vertical-align: middle;
}

/* image container*/
.wrapperLeft {
  padding: 10%;
  background: rgba(00,00,AA,0.5);
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(15, 5, 5, 0.3);
}

.left {
  width: 50%;
  background: url('../images/indexImg.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  float: left;
}

/* Signin form container right */
.wrapperRight {
  padding: 10%;
  background: rgba(00,00,AA,0.5);
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.right {
  height: 100%;
  width: 50%;
  background: #ffffff;
}
.wrapperRight .logo, .wrapperRight p{
  text-align: center;
  color: #000000;
}

/*Login form*/
section form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  flex-wrap: wrap;
  flex-direction: column;
}

input{
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #000000;
  padding: 10px;
  padding-right: 0;
}

label{
  color: #000000;
}
a.forgotPassword {
  display: block;
  text-align: right;
  width: 340px;
  color: #0C8BCE;
  text-decoration: none;
}
button.submitButton{
  margin-top: 50px;
  width: 330px;
  margin-left: 10px;
  cursor: pointer;
}