body{
  margin: 0;
}

/* Welcomepage */
.wrapper{
  background-color: #0C8BCE;
  height: 100vh;
  position: relative;
}

.container {
  margin: 0;
  padding: 0;
  text-align: justify;
  height: 100%;
  background: lightblue;
}

/*Site sections left/right*/
.main {
  display: inline-block;
  vertical-align: middle;
}

/* image container*/
.left {
  width: 50%;
  background: url('/images/indexImg.jpg') no-repeat center;
  background-size: cover;
  background: green;
  height: 100%;
  float: left;
}

/* Signin form container */
.right {
  height: 100%;
  width: 50%;
  /*  margin-left: 5rem;*/
  background: red;
}

.form-group {
/*  padding: 10px;*/
}
