body{
  margin: 0;
  background-color: #0C8BCE;
}

/* Welcomepage */
.container {
  margin: 0;
  padding: 0;
  text-align: justify;
  height: 100%;
  background: #ffffff;
}
.main {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

/* image container*/
.left {
  width: 50%;
  background: url('/images/indexImg.jpg') no-repeat center;
  background-size: cover;
}

.main_img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


/* Signin form container */
.right {
  height: 100%;
  margin-left: 5rem;
}


.form-group {
  padding: 10px;
}
